Repository gazebosim/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

Update roadmap past code freeze
  release_features.md
  roadmap.md
Labels: none

Update roadmap past code freeze (#167)
  release_features.md
  roadmap.md
Labels: none

Install prerequisites on a bare system (#164)
  citadel/install_ubuntu.md
  dome/install_ubuntu.md
  edifice/install_ubuntu.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice

Improved Windows instructions (#166)
  edifice/install_windows_src.md
  edifice/troubleshooting.md
Labels: 🏢 edifice

Edifice pre-release available, no more nightlies
  edifice/install_ubuntu.md
Labels: 🏢 edifice

Edifice pre-release available, no more nightlies (#168)
  edifice/install_ubuntu.md
Labels: 🏢 edifice

Update ROS 2 Integration ros_ign_bridge link (#165)
  citadel/ros2_integration.md
  dome/ros2_integration.md
  edifice/ros2_integration.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice

Add note about executable configuration for pip packages (#169)
  citadel/install_ubuntu_src.md
  dome/install_ubuntu_src.md
  edifice/install_ubuntu_src.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice

Add note about executable configuration for pip packages (#169) (#169)
  citadel/install_ubuntu_src.md
  dome/install_ubuntu_src.md
  edifice/install_ubuntu_src.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice

update GUI and Manipulating models tutorials for Edifice
  edifice/GUI_tutorial.md
  edifice/Manipulating_models.md
  edifice/img/align.gif
  edifice/img/align_reverse.gif
  edifice/img/custom_snap.png
  edifice/img/entity_select.png
  edifice/img/grid_config.png
  edifice/img/plugins.png
  edifice/img/pose2.gif
  edifice/img/pose_value.gif
  edifice/img/rotate.gif
  edifice/img/rotate_icon.png
  edifice/img/rotate_worldframe.gif
  edifice/img/rotate_worldframe.png
  edifice/img/select_mult.png
  edifice/img/shape_insertion.png
  edifice/img/shapes.png
  edifice/img/snap.gif
  edifice/img/translate.gif
  edifice/img/translate_icon.png
  edifice/img/translate_worldframe.gif
  edifice/img/translate_worldframe.png
  edifice/img/view.gif
Labels: 🏢 edifice

Edifice stable
  edifice/install_osx.md
  edifice/install_ubuntu.md
Labels: 🏢 edifice

Edifice stable (#171)
  edifice/install_osx.md
  edifice/install_ubuntu.md
Labels: 🏢 edifice

update GUI and Manipulating models tutorials for Edifice (#170)
  edifice/GUI_tutorial.md
  edifice/Manipulating_models.md
  edifice/img/align.gif
  edifice/img/align_reverse.gif
  edifice/img/custom_snap.png
  edifice/img/entity_select.png
  edifice/img/grid_config.png
  edifice/img/plugins.png
  edifice/img/pose2.gif
  edifice/img/pose_value.gif
  edifice/img/rotate.gif
  edifice/img/rotate_icon.png
  edifice/img/rotate_worldframe.gif
  edifice/img/rotate_worldframe.png
  edifice/img/select_mult.png
  edifice/img/shape_insertion.png
  edifice/img/shapes.png
  edifice/img/snap.gif
  edifice/img/translate.gif
  edifice/img/translate_icon.png
  edifice/img/translate_worldframe.gif
  edifice/img/translate_worldframe.png
  edifice/img/view.gif
Labels: 🏢 edifice

Update Model Insertion from Fuel tutorial for Edifice (#172)
  edifice/Model_insertion_fuel.md
  edifice/img/mine_cart_engine.gif
  edifice/img/mine_cart_engine_detail.png
  edifice/img/pr2.gif
  edifice/img/pr2_detail.png
Labels: 🏢 edifice

update general tutorials for Edifice (building & moving a robot, and sensors)
  edifice/building_robot.md
  edifice/moving_robot.md
  edifice/sensors.md
  edifice/tutorials/building_robot/car_left_wheel.png
  edifice/tutorials/building_robot/chassis.png
  edifice/tutorials/building_robot/model_axis.png
  edifice/tutorials/building_robot/two_wheeled_robot.png
  edifice/tutorials/moving_robot/moving_robot.sdf
  edifice/tutorials/sensors/CMakeLists.txt
  edifice/tutorials/sensors/sensor_wall.png
Labels: 🏢 edifice

typo
  edifice/sensors.md
Labels: 🏢 edifice

Update general tutorials for Edifice (building & moving a robot, and sensors) (#173)
  edifice/building_robot.md
  edifice/moving_robot.md
  edifice/sensors.md
  edifice/tutorials/building_robot/car_left_wheel.png
  edifice/tutorials/building_robot/chassis.png
  edifice/tutorials/building_robot/model_axis.png
  edifice/tutorials/building_robot/two_wheeled_robot.png
  edifice/tutorials/moving_robot/moving_robot.sdf
  edifice/tutorials/sensors/CMakeLists.txt
  edifice/tutorials/sensors/sensor_wall.png
Labels: 🏢 edifice

Fortress
  fortress/index.yaml
  fortress/install.md
  fortress/install_osx.md
  fortress/install_osx_src.md
  fortress/install_ubuntu.md
  fortress/install_ubuntu_src.md
  fortress/install_windows.md
  fortress/install_windows_src.md
  releases.md
Labels: 🏯 fortress

Added web visualization tutorial (#154)
  dome/index.yaml
  dome/web_visualization.md
Labels: 🔮 dome

fuel-tools
  edifice/install.md
  fortress/install.md
Labels: 🏢 edifice, 🏯 fortress

Bumps in fortress :
  fortress/install.md
Labels: 🏯 fortress

Bumps in fortress : (#175)
  fortress/install.md
Labels: 🏯 fortress

Tweaks
  fortress/install.md
  fortress/install_ubuntu.md
  tools/branch_comparisons.md
Labels: 🏯 fortress

patch
  fortress/install_osx_src.md
Labels: 🏯 fortress

.github/labeler.yml:

📜 blueprint:
  - blueprint/*
  - blueprint/**/*
🏰 citadel:
  - citadel/*
  - citadel/**/*
🔮 dome:
  - dome/*
  - dome/**/*
🏢 edifice:
  - edifice/*
  - edifice/**/*
🏯 fortress:
  - fortress/*
  - fortress/**/*
