Repository gazebosim/docs, pull requests merged in 2020-10, with the labels that each got.

#91 Dome stable docs
  dome/install.md
  dome/install_osx.md
  dome/install_ubuntu.md
  dome/install_ubuntu_src.md
  index.yaml
Labels: documentation, 🔮 dome

#90 Upload Dome API nightly
  tools/Dockerfile.dome
  tools/build_docs.sh
  tools/scripts/build_ign.sh
  tools/scripts/install_common_deps.sh
  tools/scripts/install_ign_deps.sh
Labels: infrastructure, 🔮 dome

#97 Troubleshooting passing nan values to ogre
  citadel/install_ubuntu_src.md
Labels: 🏰 citadel

#98 how to change ogre2 to ogre in SDF files
  citadel/install_ubuntu_src.md
Labels: 🏰 citadel

#99 Fix nightly uploads
  tools/scripts/build_ign.sh
  tools/scripts/install_common_deps.sh
Labels: bug, infrastructure

#103 move troubleshooting to its own page
  citadel/index.yaml
  citadel/install_osx_src.md
  citadel/install_ubuntu_src.md
  citadel/troubleshooting.md
Labels: documentation, 🏰 citadel

#104 [Dome] Move Troubleshooting
  citadel/install_osx.md
  citadel/install_ubuntu.md
  dome/index.yaml
  dome/install_osx.md
  dome/install_osx_src.md
  dome/install_ubuntu.md
  dome/install_ubuntu_src.md
  dome/troubleshooting.md
Labels: documentation, 🔮 dome

#105 Explain new toolbar
  citadel/GUI_tutorial.md
  citadel/img/shape_insertion.png
  dome/GUI_tutorial.md
  dome/img/shape_insertion.png
Labels: documentation, 🏰 citadel, 🔮 dome

#107 Update citadel tutorial screenshots
  citadel/img/align.gif
  citadel/img/custom_snap.png
  citadel/img/entity_select.png
  citadel/img/grid_config.png
  citadel/img/plugins.png
  citadel/img/pose2.gif
  citadel/img/pose_value.gif
  citadel/img/pr2.gif
  citadel/img/rotate.gif
  citadel/img/rotate_icon.png
  citadel/img/select_mult.png
  citadel/img/shapes.png
  citadel/img/snap.gif
  citadel/img/translate.gif
  citadel/img/translate_icon.png
  citadel/img/view.gif
Labels: documentation, 🏰 citadel

#109 Update master references to main
  blueprint/comparison.md
  citadel/actors.md
  citadel/comparison.md
  contributing.md
  dome/actors.md
  dome/comparison.md
  get_started.md
Labels: 🏰 citadel, 📜 blueprint, 🔮 dome
