Repository gazebosim/docs, pull requests merged in 2020-08, with the labels that each got.

#50 Update install_osx_src.md
  citadel/install_osx_src.md
Labels: 🏰 citadel

#31 SDF demo
  tutorials/SDF/building_robot.md
  tutorials/SDF/building_robot.sdf
  tutorials/SDF/car_left_wheel.png
  tutorials/SDF/chassis.png
  tutorials/SDF/model_axis.png
  tutorials/SDF/two_wheeled_robot.png
Labels: documentation

#45 Moving robot
  tutorials/Moving_robot/keypublisher_data.png
  tutorials/Moving_robot/moving_robot.md
  tutorials/Moving_robot/moving_robot.sdf
Labels: documentation, 🏰 citadel

#51 Nightly upload of API docs and library tutorials
  .github/workflows/nightly-upload.yml
  tools/build_docs.sh
Labels: boost the docs, 🏰 citadel, 📜 blueprint

#36 Sensor demo
  tutorials/sensor/CMakeLists.txt
  tutorials/sensor/imu_msgs.png
  tutorials/sensor/lidar_node.cc
  tutorials/sensor/sensor_demo.md
  tutorials/sensor/sensor_launch.ign
  tutorials/sensor/sensor_tutorial.sdf
  tutorials/sensor/sensor_wall.png
Labels: documentation

#59 Change PR examples in contributing.md to GitHub examples
  contributing.md
Labels: boost the docs, documentation

#63 Add changelog links to release-features.md page
  release_features.md
Labels: documentation

#43 Actors demo
  tutorials/actors_demo/actor_demo.gif
  tutorials/actors_demo/actor_demo.md
  tutorials/actors_demo/actor_demo.sdf
  tutorials/actors_demo/actor_skin.gif
  tutorials/actors_demo/combined_movement.gif
  tutorials/actors_demo/skeleton_movement.gif
  tutorials/actors_demo/trajectory_movement.gif
Labels: documentation

#38 World demo
  tutorials/world/coke_world.png
  tutorials/world/entity_tree.png
  tutorials/world/world_demo.md
  tutorials/world/world_demo.sdf
  tutorials/world/world_stats.png
Labels: documentation

#42 Ros integration
  tutorials/ROS_Integration/empty_world.png
  tutorials/ROS_Integration/ros_ign.png
  tutorials/ROS_Integration/ros_ign_demo.md
Labels: documentation

#66 Added description to tutorials and added a tutorials.yaml
  acropolis/index.yaml
  blueprint/index.yaml
  citadel/index.yaml
  tutorials.yaml
Labels: documentation, enhancement, 🏰 citadel, 📜 blueprint

#62 Removed overview page
  index.yaml
  overview.md
Labels: documentation

#65 Placing new tutorials
  citadel/GUI_tutorial.md
  citadel/Manipulating_models.md
  citadel/Model_insertion_fuel.md
  citadel/actors.md
  citadel/building_robot.md
  citadel/img/fuel.png
  citadel/img/rotate_icon.png
  citadel/img/translate_icon.png
  citadel/index.yaml
  citadel/moving_robot.md
  citadel/ros2_integration.md
  citadel/sdf_worlds.md
  citadel/sensors.md
  citadel/tutorials.md
  citadel/tutorials/actors/actor_demo.gif
  citadel/tutorials/actors/actor_demo.sdf
  citadel/tutorials/actors/actor_skin.gif
  citadel/tutorials/actors/combined_movement.gif
  citadel/tutorials/actors/skeleton_movement.gif
  citadel/tutorials/actors/trajectory_movement.gif
  citadel/tutorials/building_robot/building_robot.sdf
  citadel/tutorials/building_robot/car_left_wheel.png
  citadel/tutorials/building_robot/chassis.png
  citadel/tutorials/building_robot/model_axis.png
  citadel/tutorials/building_robot/two_wheeled_robot.png
  citadel/tutorials/moving_robot/keypublisher_data.png
  citadel/tutorials/moving_robot/moving_robot.sdf
  citadel/tutorials/ros2_integration/empty_world.png
  citadel/tutorials/ros2_integration/ros_ign.png
  citadel/tutorials/sdf_worlds/coke_world.png
  citadel/tutorials/sdf_worlds/entity_tree.png
  citadel/tutorials/sdf_worlds/world_demo.sdf
  citadel/tutorials/sdf_worlds/world_stats.png
  citadel/tutorials/sensors/CMakeLists.txt
  citadel/tutorials/sensors/imu_msgs.png
  citadel/tutorials/sensors/lidar_node.cc
  citadel/tutorials/sensors/sensor_launch.ign
  citadel/tutorials/sensors/sensor_tutorial.sdf
  citadel/tutorials/sensors/sensor_wall.png
  get_started.md
Labels: documentation, 🏰 citadel

#61 Update the comparison sheets
  blueprint/comparison.md
  citadel/comparison.md
Labels: documentation, 🏰 citadel, 📜 blueprint

#48 Dome install instructions
  dome/install.md
  dome/install_osx.md
  dome/install_osx_src.md
  dome/install_ubuntu.md
  dome/install_ubuntu_src.md
  index.yaml
Labels: boost the docs, documentation, 🔮 dome

#70 Add index for Dome
  dome/index.yaml
Labels: 🔮 dome

#73 Fix links to demo code
  citadel/actors.md
  citadel/building_robot.md
  citadel/moving_robot.md
  citadel/sdf_worlds.md
  citadel/sensors.md
Labels: 🏰 citadel

#72 Add video links to new tutorials
  citadel/actors.md
  citadel/building_robot.md
  citadel/moving_robot.md
  citadel/ros2_integration.md
  citadel/sdf_worlds.md
  citadel/sensors.md
Labels: 🏰 citadel

#69 Citadel source install for Focal
  citadel/install_ubuntu_src.md
Labels: documentation, 🏰 citadel

#26 Operation Close-The-Gap
  blueprint/comparison.md
  citadel/comparison.md
Labels: documentation, 🏰 citadel, 📜 blueprint

#74 Fix link to releases page
  roadmap.md
Labels: boost the docs, documentation
