Repository gazebosim/docs, pull requests merged in 2020-09, with the labels that each got.

#78 Updated sourcing ros-ign explanation
  citadel/ros_integration.md
Labels: 🏰 citadel

#84 Comparison updates
  acropolis/comparison.md
  blueprint/comparison.md
  citadel/comparison.md
  dome/comparison.md
  tools/build_docs.sh
Labels: 🏰 citadel, 📜 blueprint, 🔮 dome

#83 Fix get_started links and brew install one-liner
  acropolis/install.md
  blueprint/install.md
  citadel/install_osx.md
  citadel/install_osx_src.md
  citadel/install_ubuntu.md
  dome/install_osx.md
  dome/install_osx_src.md
  dome/install_ubuntu.md
Labels: 🏰 citadel, 📜 blueprint, 🔮 dome

#86 Dome ROS Integration tutorial updates
  dome/img/bridge_image_exchange_ign-gazebo.png
  dome/ros_integration.md
Labels: 🔮 dome

#87 Updated images for Dome tutorials
  dome/GUI_tutorial.md
  dome/Manipulating_models.md
  dome/img/align.gif
  dome/img/custom_snap.png
  dome/img/entity_select.png
  dome/img/grid_config.png
  dome/img/plugins.png
  dome/img/pose2.gif
  dome/img/pose_value.gif
  dome/img/rotate.gif
  dome/img/rotate_icon.png
  dome/img/rotate_worldframe.png
  dome/img/select_mult.png
  dome/img/shapes.png
  dome/img/snap.gif
  dome/img/snap_icon.png
  dome/img/translate.gif
  dome/img/translate_icon.png
  dome/img/translate_worldframe.png
  dome/img/view.gif
Labels: 🔮 dome

#88 Jshep1/align tool additions
  dome/Manipulating_models.md
  dome/img/align_reverse.gif
Labels: 🔮 dome

#89 Dome tutorials updated images & text
  dome/Model_insertion_fuel.md
  dome/building_robot.md
  dome/img/pr2.gif
  dome/moving_robot.md
  dome/sdf_worlds.md
  dome/tutorials/actors/actor_demo.sdf
  dome/tutorials/building_robot/building_robot.sdf
  dome/tutorials/building_robot/car_left_wheel.png
  dome/tutorials/building_robot/chassis.png
  dome/tutorials/building_robot/model_axis.png
  dome/tutorials/building_robot/two_wheeled_robot.png
  dome/tutorials/moving_robot/moving_robot.sdf
  dome/tutorials/sensors/sensor_tutorial.sdf
Labels: 🔮 dome
