Repository gazebosim/docs, pull requests merged in 2020-05, with the labels that each got.

#18 Don't build tests when generating docs
  tools/scripts/build_ign.sh
Labels: enhancement

#21 Tweaks to GUI tutorials
  blueprint/GUI_tutorial.md
  blueprint/Manipulating_models.md
  blueprint/Model_insertion_fuel.md
  blueprint/hotkeys.md
  citadel/GUI_tutorial.md
  citadel/Manipulating_models.md
  citadel/Model_insertion_fuel.md
  citadel/hotkeys.md
Labels: 🏰 citadel, 📜 blueprint

#22 More link fixes
  blueprint/Manipulating_models.md
  citadel/GUI_tutorial.md
  citadel/Manipulating_models.md
Labels: bug, 🏰 citadel, 📜 blueprint

#24 Add missing dependency to Citadel installation
  citadel/install_ubuntu_src.md
Labels: 🏰 citadel

#25 Fix link on Blueprint GUI tutorial
  blueprint/GUI_tutorial.md
Labels: 📜 blueprint
