Repository gazebosim/docs, pull requests merged in 2020-12, with the labels that each got.

#123 Update building_robot.sdf
  citadel/tutorials/building_robot/building_robot.sdf
Labels: 🏰 citadel

#108 Add table of branch comparisons
  contributing.md
  tools/branch_comparisons.md
Labels: documentation

#125 Bump in edifice: ign-msgs7 and fuel-tools6
  edifice/install.md
Labels: 🏢 edifice
