Repository gazebosim/docs, pull requests merged in 2021-02, with the labels that each got.

#137 Roadmap update
  release_features.md
  roadmap.md
Labels: documentation, 🏢 edifice, 🏰 citadel, 🔮 dome

#139 Use pre-release repos with nightlies
  edifice/install_ubuntu.md
Labels: 🏢 edifice

#141 Fix sort command in Ubuntu installation from source
  citadel/install_ubuntu_src.md
  dome/install_ubuntu_src.md
  edifice/install_ubuntu_src.md
  tools/scripts/build_ign.sh
Labels: 🏢 edifice, 🏰 citadel, 🔮 dome

#134 Improve nightly doc upload: faster and easier to debug
  .github/workflows/nightly-upload.yml
  tools/Dockerfile.citadel
  tools/Dockerfile.dome
  tools/build_docs.sh
  tools/scripts/build_ign.sh
  tools/scripts/install_common_deps.sh
Labels: infrastructure

#143 Add release dates for Ignition G and H
  releases.md
Labels: documentation

#149 Added tutorial to run sanitizer on ignition
  contributing.md
Labels: documentation

#150 Add solution to macos installation issues
  edifice/install_osx_src.md
Labels: 🏢 edifice
