Repository gazebosim/docs, pull requests merged in 2021-05, with the labels that each got.

#178 Update building_robot.sdf
  citadel/tutorials/building_robot/building_robot.sdf
Labels: 🏰 citadel

#180 May roadmap update.
  citadel/comparison.md
  dome/comparison.md
  edifice/comparison.md
  release_features.md
  roadmap.md
Labels: 🏢 edifice, 🏰 citadel, 🔮 dome

#184 Use qt@5 homebrew alias in CMAKE_PREFIX_PATH
  citadel/install_osx_src.md
  dome/install_osx_src.md
  edifice/install_osx_src.md
  fortress/install_osx_src.md
Labels: 🏢 edifice, 🏯 fortress, 🏰 citadel, 🔮 dome
