Repository gazebosim/docs, pull requests merged in 2021-06, with the labels that each got.

#186 Add physics options to comparison to Gazebo classic
  citadel/comparison.md
  dome/comparison.md
  edifice/comparison.md
Labels: documentation, 🏢 edifice, 🏰 citadel, 🔮 dome

#182 CI docs
  ci.md
  contributing.md
  images/PR_checks.png
  index.yaml
  release.md
Labels: documentation, needs upstream release

#188 Add parenthesis to world frame in tutorial
  citadel/building_robot.md
Labels: 🏰 citadel
