Repository gazebosim/docs, pull requests merged in 2021-01, with the labels that each got.

#124 🏁 Blueprint EOL
  blueprint/install.md
  index.yaml
  releases.md
  tools/branch_comparisons.md
  tools/build_docs.sh
Labels: 📜 blueprint

#127 Bump in edifice: ign-transport10
  edifice/install.md
Labels: 🏢 edifice

#128 Bump in edifice: sdformat11
  edifice/install.md
Labels: 🏢 edifice

#130 Roadmap updates
  citadel/install.md
  release_features.md
  roadmap.md
Labels: 🏰 citadel

#126 Windows top level build instructions
  citadel/install.md
  citadel/install_ubuntu_src.md
  citadel/install_windows.md
  citadel/install_windows_src.md
Labels: documentation, 🏰 citadel

#131 Add Windows tutorials to index
  citadel/index.yaml
Labels: 🏰 citadel

#132 Fix Citadel install links
  citadel/install.md
Labels: 🏰 citadel

#133 Bump in edifice: ign-common4
  edifice/install.md
Labels: 🏢 edifice
