Repository gazebosim/docs, pull requests merged in 2021-04, with the labels that each got.

#171 Edifice stable
  edifice/install_osx.md
  edifice/install_ubuntu.md
Labels: 🏢 edifice

#170 Update GUI and Manipulating models tutorials for Edifice
  edifice/GUI_tutorial.md
  edifice/Manipulating_models.md
  edifice/img/align.gif
  edifice/img/align_reverse.gif
  edifice/img/custom_snap.png
  edifice/img/entity_select.png
  edifice/img/grid_config.png
  edifice/img/plugins.png
  edifice/img/pose2.gif
  edifice/img/pose_value.gif
  edifice/img/rotate.gif
  edifice/img/rotate_icon.png
  edifice/img/rotate_worldframe.gif
  edifice/img/rotate_worldframe.png
  edifice/img/select_mult.png
  edifice/img/shape_insertion.png
  edifice/img/shapes.png
  edifice/img/snap.gif
  edifice/img/translate.gif
  edifice/img/translate_icon.png
  edifice/img/translate_worldframe.gif
  edifice/img/translate_worldframe.png
  edifice/img/view.gif
Labels: 🏢 edifice

#172 Update Model Insertion from Fuel tutorial for Edifice
  edifice/Model_insertion_fuel.md
  edifice/img/mine_cart_engine.gif
  edifice/img/mine_cart_engine_detail.png
  edifice/img/pr2.gif
  edifice/img/pr2_detail.png
Labels: 🏢 edifice

#173 Update general tutorials for Edifice (building & moving a robot, sensors)
  edifice/building_robot.md
  edifice/moving_robot.md
  edifice/sensors.md
  edifice/tutorials/building_robot/car_left_wheel.png
  edifice/tutorials/building_robot/chassis.png
  edifice/tutorials/building_robot/model_axis.png
  edifice/tutorials/building_robot/two_wheeled_robot.png
  edifice/tutorials/moving_robot/moving_robot.sdf
  edifice/tutorials/sensors/CMakeLists.txt
  edifice/tutorials/sensors/sensor_wall.png
Labels: 🏢 edifice

#154 Added web visualization tutorial
  dome/index.yaml
  dome/web_visualization.md
Labels: 🔮 dome

#175 Bumps in fortress
  fortress/install.md
Labels: 🏯 fortress
