Repository gazebosim/docs, pull requests merged in 2021-03, with the labels that each got.

#151 Add binary install tip
  edifice/install_osx.md
Labels: 🏢 edifice

#156 Update comparison lists
  citadel/comparison.md
  dome/comparison.md
  release_features.md
Labels: documentation, 🏰 citadel, 🔮 dome

#159 Add architecture page to index
  index.yaml
Labels: bug

#160 Upadate links and force-version from Dome to Edifice
  edifice/GUI_tutorial.md
Labels: 🏢 edifice

#161 Fix diffuse value for caster link in building_robot tutorial
  edifice/building_robot.md
  edifice/tutorials/building_robot/building_robot.sdf
Labels: 🏢 edifice

#162 Update links to point from dome to edifice
  edifice/moving_robot.md
Labels: 🏢 edifice

#163 Edifice updates
  edifice/GUI_tutorial.md
  edifice/actors.md
  edifice/building_robot.md
  edifice/ros_integration.md
  edifice/sdf_worlds.md
  edifice/sensors.md
  edifice/troubleshooting.md
  edifice/tutorials/moving_robot/moving_robot.sdf
  edifice/tutorials/sdf_worlds/world_demo.sdf
  edifice/tutorials/sensors/sensor_tutorial.sdf
Labels: 🏢 edifice

#167 Update roadmap past code freeze
  release_features.md
  roadmap.md
Labels: documentation

#164 🥳 Install prerequisites on a bare system
  citadel/install_ubuntu.md
  dome/install_ubuntu.md
  edifice/install_ubuntu.md
Labels: documentation, 🏢 edifice, 🏰 citadel, 🔮 dome

#166 Improved Windows instructions
  edifice/install_windows_src.md
  edifice/troubleshooting.md
Labels: Windows, documentation, 🏢 edifice

#168 Edifice pre-release available, no more nightlies
  edifice/install_ubuntu.md
Labels: 🏢 edifice

#165 Update ROS 2 Integration ros_ign_bridge link
  citadel/ros2_integration.md
  dome/ros2_integration.md
  edifice/ros2_integration.md
Labels: documentation, 🏢 edifice, 🏰 citadel, 🔮 dome

#169 Add note about executable configuration for pip packages
  citadel/install_ubuntu_src.md
  dome/install_ubuntu_src.md
  edifice/install_ubuntu_src.md
Labels: 🏢 edifice, 🏰 citadel, 🔮 dome
