Repository gazebosim/docs, pull requests merged in 2021-12, with the labels that each got.

#217 Roadmap updates
  citadel/comparison.md
  dome/comparison.md
  edifice/comparison.md
  fortress/comparison.md
  release_features.md
  roadmap.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

#218 Bumps in garden :
  garden/install.md
Labels: 🌱 garden

#220 Oops! Error 404, fix link for get_started.md.
  citadel/install_osx.md
  citadel/install_osx_src.md
  citadel/install_ubuntu.md
  citadel/install_ubuntu_src.md
  citadel/install_windows.md
  citadel/install_windows_src.md
  dome/install_osx.md
  dome/install_osx_src.md
  dome/install_ubuntu.md
  dome/install_ubuntu_src.md
  dome/install_windows.md
  dome/install_windows_src.md
  edifice/install_osx.md
  edifice/install_osx_src.md
  edifice/install_ubuntu.md
  edifice/install_ubuntu_src.md
  edifice/install_windows.md
  edifice/install_windows_src.md
  fortress/ign_docker_env.md
  fortress/install_osx.md
  fortress/install_osx_src.md
  fortress/install_ubuntu.md
  fortress/install_ubuntu_src.md
  fortress/install_windows.md
  fortress/install_windows_src.md
  garden/install_osx_src.md
  garden/install_ubuntu_src.md
  garden/install_windows_src.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden

#219 Tutorial for spawning a URDF model into Ignition Gazebo
  citadel/index.yaml
  citadel/spawn_urdf.md
  citadel/tutorials/spawn_urdf/empty_world.png
  citadel/tutorials/spawn_urdf/rrbot.gif
  citadel/tutorials/spawn_urdf/urdf_spawned.png
  dome/index.yaml
  dome/spawn_urdf.md
  dome/tutorials/spawn_urdf/empty_world.png
  dome/tutorials/spawn_urdf/rrbot.gif
  dome/tutorials/spawn_urdf/urdf_spawned.png
  edifice/index.yaml
  edifice/spawn_urdf.md
  edifice/tutorials/spawn_urdf/empty_world.png
  edifice/tutorials/spawn_urdf/rrbot.gif
  edifice/tutorials/spawn_urdf/urdf_spawned.png
  fortress/index.yaml
  fortress/spawn_urdf.md
  fortress/tutorials/spawn_urdf/empty_world.png
  fortress/tutorials/spawn_urdf/rrbot.gif
  fortress/tutorials/spawn_urdf/urdf_spawned.png
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

#215 Document platform support tiers for all collections
  citadel/install.md
  dome/install.md
  edifice/install.md
  fortress/install.md
  garden/install.md
  index.yaml
  releases.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden

#224 Bumps in garden
  garden/install.md
Labels: 🌱 garden

#223 🏁 Dome EOL
  dome/install.md
  index.yaml
  releases.md
  tools/branch_comparisons.md
  tools/build_docs.sh
  tools/versions.md
Labels: 🔮 dome
