Repository gazebosim/docs, pull requests merged in 2022-12, with the labels that each got.

#325 Deprecate GzScene3D from Fortress and fix some links
  fortress/actors.md
  fortress/sdf_worlds.md
  fortress/tutorials/actors/actor_demo.sdf
  fortress/tutorials/sdf_worlds/world_demo.sdf
  fortress/tutorials/sensors/sensor_tutorial.sdf
  garden/sdf_worlds.md
  garden/tutorials/actors/actor_demo.sdf
  garden/tutorials/sdf_worlds/world_demo.sdf
  garden/tutorials/sensors/sensor_tutorial.sdf
Labels: 🏯 fortress, 🌱 garden

#322 Add warning banner for Windows tutorial
  citadel/install_windows.md
  citadel/install_windows_src.md
  dome/install_windows.md
  dome/install_windows_src.md
  edifice/install_windows.md
  edifice/install_windows_src.md
  fortress/install_windows.md
  fortress/install_windows_src.md
  garden/install_windows.md
  garden/install_windows_src.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden

#327 Update windows binary
  garden/install_windows.md
Labels: 🌱 garden
