Repository gazebosim/docs, pull requests merged in 2022-04, with the labels that each got.

#236 🏁 Edifice EOL
  edifice/install.md
  index.yaml
  release_features.md
  releases.md
  tools/branch_comparisons.md
  tools/build_docs.sh
  tools/versions.md
Labels: 🏢 edifice

#240 March 2022: Roadmap updates
  citadel/comparison.md
  edifice/comparison.md
  fortress/comparison.md
  release_features.md
  roadmap.md
Labels: 🏰 citadel, 🏢 edifice, 🏯 fortress

#242 Changed to Foxy branch and Binaries tab
  citadel/ros2_integration.md
Labels: 🏰 citadel

#243 Add troubleshooting section for hybrid Intel/Nvidia systems
  fortress/troubleshooting.md
Labels: 🏯 fortress

#241 Bumps in garden : ign-cmake3, ign-plugin2, ign-utils2
  garden/install.md
Labels: 🌱 garden

#244 Bumps in garden
  garden/install.md
Labels: 🌱 garden

#247 Roadmap updates: April 2022
  citadel/comparison.md
  fortress/comparison.md
  release_features.md
  roadmap.md
Labels: 🏰 citadel, 🏯 fortress
