Repository gazebosim/docs, pull requests merged in 2022-06, with the labels that each got.

#237 Precision in the instructions to avoid an error
  citadel/sensors.md
Labels: documentation, 🏰 citadel

#252 Update roadmap (May 2022)
  citadel/comparison.md
  fortress/comparison.md
  release_features.md
  roadmap.md
Labels: 🏰 citadel, 🏯 fortress

#231 Removing Drag and Drop
  blueprint/Model_insertion_fuel.md
  blueprint/img/husky.gif
  citadel/Model_insertion_fuel.md
  citadel/img/husky.gif
  citadel/sdf_worlds.md
  dome/Model_insertion_fuel.md
  dome/img/husky.gif
  dome/sdf_worlds.md
  edifice/Model_insertion_fuel.md
  edifice/img/husky.gif
  edifice/sdf_worlds.md
  fortress/Model_insertion_fuel.md
  fortress/img/husky.gif
  fortress/sdf_worlds.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

#251 Add QML debugging docs
  garden/images/IgnGuiQmlDebugging01.png
  garden/images/IgnGuiQmlDebugging02.png
  garden/install_ubuntu_src.md
Labels: documentation, 🌱 garden

#253 Adds a note about out of memory errors and provides a way to fix that
  citadel/install_ubuntu_src.md
  fortress/install_ubuntu_src.md
  garden/install_ubuntu_src.md
Labels: 🏰 citadel, 🏯 fortress, 🌱 garden

#256 [1] Rename github.com/ignitionrobotics/ign links
  acropolis/ros_integration.md
  blueprint/comparison.md
  blueprint/ros_integration.md
  ci.md
  citadel/comparison.md
  citadel/moving_robot.md
  citadel/ros_integration.md
  citadel/sdf_worlds.md
  contributing.md
  dome/comparison.md
  dome/moving_robot.md
  dome/ros_integration.md
  dome/sdf_worlds.md
  edifice/comparison.md
  edifice/moving_robot.md
  edifice/ros_integration.md
  edifice/sdf_worlds.md
  fortress/comparison.md
  fortress/moving_robot.md
  fortress/ros_integration.md
  fortress/sdf_worlds.md
  get_started.md
  release.md
  release_features.md
  roadmap.md
  tools/branch_comparisons.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, ign to gz

#257 [2] Md ign web urls
  README.md
  acropolis/comparison.md
  architecture.md
  blueprint/comparison.md
  ci.md
  citadel/comparison.md
  citadel/install_windows_src.md
  citadel/moving_robot.md
  citadel/ros2_integration.md
  citadel/sensors.md
  citadel/spawn_urdf.md
  contributing.md
  dome/comparison.md
  dome/install_windows_src.md
  dome/moving_robot.md
  dome/ros2_integration.md
  dome/sensors.md
  dome/spawn_urdf.md
  edifice/comparison.md
  edifice/install_windows_src.md
  edifice/moving_robot.md
  edifice/ros2_integration.md
  edifice/sensors.md
  edifice/spawn_urdf.md
  fortress/comparison.md
  fortress/install_windows_src.md
  fortress/moving_robot.md
  fortress/ros2_integration.md
  fortress/sensors.md
  fortress/spawn_urdf.md
  garden/install_windows_src.md
  release_features.md
  releases.md
  tools/branch_comparisons.md
  tools/versions.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden, ign to gz

#258 [3] Md app url rename
  acropolis/comparison.md
  blueprint/Manipulating_models.md
  blueprint/Model_insertion_fuel.md
  blueprint/comparison.md
  citadel/Manipulating_models.md
  citadel/Model_insertion_fuel.md
  citadel/actors.md
  citadel/comparison.md
  citadel/sdf_worlds.md
  dome/Manipulating_models.md
  dome/Model_insertion_fuel.md
  dome/actors.md
  dome/comparison.md
  dome/sdf_worlds.md
  dome/web_visualization.md
  edifice/Manipulating_models.md
  edifice/Model_insertion_fuel.md
  edifice/actors.md
  edifice/comparison.md
  edifice/sdf_worlds.md
  fortress/Manipulating_models.md
  fortress/Model_insertion_fuel.md
  fortress/actors.md
  fortress/comparison.md
  fortress/sdf_worlds.md
  get_started.md
  release_features.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden, ign to gz

#260 [5] Rename gz-gazebo to gz-sim
  blueprint/comparison.md
  citadel/comparison.md
  citadel/moving_robot.md
  contributing.md
  dome/comparison.md
  dome/moving_robot.md
  edifice/comparison.md
  edifice/moving_robot.md
  fortress/comparison.md
  fortress/moving_robot.md
  get_started.md
  release_features.md
  roadmap.md
  tools/branch_comparisons.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

#261 [6] Change Ignition Gazebo to Gazebo Sim
  acropolis/comparison.md
  architecture.md
  blueprint/comparison.md
  blueprint/install.md
  citadel/actors.md
  citadel/comparison.md
  citadel/ros2_integration.md
  citadel/spawn_urdf.md
  citadel/troubleshooting.md
  contributing.md
  dome/actors.md
  dome/comparison.md
  dome/ros2_integration.md
  dome/spawn_urdf.md
  dome/troubleshooting.md
  dome/web_visualization.md
  edifice/actors.md
  edifice/comparison.md
  edifice/ros2_integration.md
  edifice/spawn_urdf.md
  edifice/troubleshooting.md
  fortress/actors.md
  fortress/comparison.md
  fortress/ros2_integration.md
  fortress/spawn_urdf.md
  fortress/troubleshooting.md
  images/GazeboArchitecture.svg
  images/IgnitonGazeboArchicteture.svg
  images/IgnitonGazeboArchicteture.xml
  release_features.md
  roadmap.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, ign to gz

#262 [7] Tools ign gz
  .github/workflows/nightly-upload.yml
  tools/Dockerfile.acropolis
  tools/Dockerfile.blueprint
  tools/Dockerfile.citadel
  tools/Dockerfile.dome
  tools/Dockerfile.edifice
  tools/Dockerfile.fortress
  tools/branch_comparisons.md
  tools/build_docs.sh
  tools/scripts/build_gz.sh
  tools/versions.md
Labels: 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, ign to gz

#263 [8] Change 'ignition' to 'gazebo' in 'general_context.svg'
  releasing/images/general_context.svg
Labels: ign to gz

#264 [9] Rename Ignition in the Roadmap
  roadmap.md
Labels: ign to gz

#270 [4] Update gazebosim architecture image to Gazebo naming
  images/GazeboArchitecture.svg
  images/GazeboSimArchitecture.svg
Labels: ign to gz

#266 [11] Ci ign rename
  ci.md
  contributing.md
Labels: ign to gz

#267 [12] Release features ign rename
  release_features.md
Labels: ign to gz

#268 [13] Rename ignition to gazebo in release.md
  release.md
  release_features.md
Labels: ign to gz

#269 [14] Rename ignition in readme, and yaml files
  README.md
  index.yaml
  releases.md
  tutorials.yaml
Labels: ign to gz

#271 [15] Acropolis ign
  acropolis/comparison.md
  acropolis/images/bridge_image_exchange_gz-sim.png
  acropolis/index.yaml
  acropolis/install.md
  acropolis/ros_integration.md
Labels: ign to gz

#272 [16] Update Garden docs with new Gazebo naming
  garden/images/GzGuiQmlDebugging01.png
  garden/images/GzGuiQmlDebugging02.png
  garden/index.yaml
  garden/install.md
  garden/install_osx_src.md
  garden/install_ubuntu_src.md
  garden/install_windows_src.md
Labels: 🌱 garden, ign to gz
