Repository gazebosim/docs, pull requests merged in 2022-08, with the labels that each got.

#275 Add migration guide to Garden docs
  garden/install.md
  garden/migration_from_ignition.md
Labels: enhancement, 🌱 garden, ign to gz

#274 Generate API docs using Ubuntu Focal
  README.md
  tools/Dockerfile.acropolis
  tools/Dockerfile.blueprint
  tools/Dockerfile.citadel
  tools/Dockerfile.dome
  tools/Dockerfile.edifice
  tools/Dockerfile.fortress
  tools/build_docs.sh
  tools/scripts/build_gz.sh
  tools/scripts/install_common_deps.sh
Labels: documentation

#285 Garden branch comparison & troubleshooting guide
  garden/troubleshooting.md
  tools/branch_comparisons.md
Labels: 🌱 garden

#287 Add migration from Ignition page to index
  garden/index.yaml
Labels: 🌱 garden, ign to gz

#291 Move Ignition migration out of install
  garden/index.yaml
  garden/migration_from_ignition.md
Labels: 🌱 garden, ign to gz
