Repository gazebosim/docs, pull requests merged in 2023-10, with the labels that each got.

#393 Harmonic stable release
  get_started.md
  harmonic/comparison.md
  harmonic/install_ubuntu.md
  harmonic/troubleshooting.md
  index.yaml
  tools/versions.md
Labels: 🎵 harmonic

#395 Backport #392 to Garden and Fortress
  fortress/index.yaml
  fortress/ros2_integration.md
  fortress/ros2_interop.md
  fortress/ros_gz_project_template_guide.md
  fortress/tutorials.md
  garden/index.yaml
  garden/ros2_integration.md
  garden/ros2_interop.md
  garden/ros_gz_project_template_guide.md
  garden/tutorials.md
  harmonic/ros2_integration.md
  harmonic/ros2_interop.md
Labels: 🏯 fortress, 🌱 garden, 🎵 harmonic

#398 Build from source: clarify dependency install step
  citadel/install_ubuntu_src.md
  fortress/install_ubuntu_src.md
  garden/install_ubuntu_src.md
  harmonic/install_ubuntu_src.md
Labels: 🏰 citadel, 🏯 fortress, 🌱 garden, 🎵 harmonic

#399 Template tutorial updates
  harmonic/ros2_interop.md
  harmonic/ros_gz_project_template_guide.md
Labels: 🎵 harmonic

#401 update osx instructions
  garden/install_osx_src.md
  harmonic/install_osx_src.md
Labels: 🌱 garden, 🎵 harmonic
