Repository gazebosim/docs, pull requests merged in 2024-07, with the labels that each got.

#448 Extend ROS integration documentation
  harmonic/index.yaml
  harmonic/ros2_integration.md
  harmonic/ros2_launch_gazebo.md
  harmonic/ros2_overview.md
  harmonic/ros2_spawn_model.md
Labels: 🎵 harmonic

#441 Build documentation using Sphinx
  .github/workflows/deploy.yml
  .github/workflows/nightly-upload.yml
  .gitignore
  README.md
  _static/css/gazebo.css
  _static/icon/favicon.ico
  _static/images/logos/gazebo_horz_neg.svg
  _static/images/logos/gazebo_horz_pos.svg
  _templates/fuel_app_link.html
  _templates/gz-footer.html
  _templates/gz-navbar-nav.html
  _templates/gz-sidebar-nav.html
  _templates/gz-version-switcher.html
  _templates/sections/header.html
  base_conf.py
  blueprint/ros_integration.md
  build_multiversion.py
  citadel/index.yaml
  citadel/install_osx_src.md
  citadel/ros_integration.md
  citadel/sensors.md
  conf.py
  contributing.md
  dome/install_osx_src.md
  dome/sensors.md
  dome/web_visualization.md
  edifice/install_osx_src.md
  edifice/sensors.md
  fortress/install_osx_src.md
  fortress/sensors.md
  garden/install_osx_src.md
  garden/migration_from_ignition.md
  garden/sensors.md
  get_started.md
  harmonic/install_windows_src.md
  harmonic/migration_from_ignition.md
  harmonic/sensors.md
  index.yaml
  ionic/install_windows_src.md
  ionic/migration_from_ignition.md
  ionic/sensors.md
  libs_conf.py
  release.md
  release_instructions.md
  releasing/bump_major.md
  releasing/release_repositories.md
  releasing/versioning_pre_nightly.md
  requirements.txt
  ros_installation.md
  tutorials.yaml
Labels: documentation, 📜 blueprint, 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden, 🎵 harmonic

#457 sensors.md: fix code block
  harmonic/sensors.md
Labels: 🎵 harmonic

#461 Fix a link in spawn_urdf.md
  citadel/spawn_urdf.md
  dome/spawn_urdf.md
  edifice/spawn_urdf.md
  fortress/spawn_urdf.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress

#468 Add tip for using Gazebo with Wayland
  harmonic/troubleshooting.md
Labels: 🎵 harmonic
