Repository gazebosim/docs, pull requests merged in 2024-08, with the labels that each got.

#470 Add note about libEGL warnings
  harmonic/troubleshooting.md
  ionic/troubleshooting.md
Labels: 🎵 harmonic

#476 Fix potential sudo error for users installing on ubuntu.
  harmonic/install_ubuntu.md
  ionic/install_ubuntu.md
Labels: 🎵 harmonic

#478 Update instructions on checking if sim runs with ogre 1.x
  citadel/troubleshooting.md
  fortress/troubleshooting.md
  garden/troubleshooting.md
  harmonic/troubleshooting.md
  ionic/troubleshooting.md
Labels: 🏰 citadel, 🏯 fortress, 🌱 garden, 🎵 harmonic

#479 Comparison: wireless plugin is now available
  harmonic/comparison.md
Labels: 🎵 harmonic

#414 Improve install instructions for macOS
  harmonic/install_macos.md
  harmonic/install_macos_src.md
Labels: 🎵 harmonic

#485 Revert file name changes to fix menu and links for macOS installation
  harmonic/install_osx.md
  harmonic/install_osx_src.md
Labels: 🎵 harmonic

#484 Update troubleshooting.md to include multicast network configuration error
  harmonic/troubleshooting.md
Labels: 🎵 harmonic

#486 Update instructions for building Gazebo from source on macOS
  fortress/install_osx_src.md
  garden/install_osx_src.md
  harmonic/install_osx_src.md
  ionic/install_osx_src.md
Labels: 🏯 fortress, 🌱 garden, 🎵 harmonic

#482 Update ros2_launch_gazebo.md with a Python launch example and typo fixes/formatting for the XML launch file example
  harmonic/ros2_launch_gazebo.md
Labels: 🎵 harmonic

#487 Windows instructions updated in harmonic branch
  harmonic/install_windows.md
  harmonic/install_windows_src.md
Labels: 🎵 harmonic
