Repository gazebosim/docs, pull requests merged in 2025-08, with the labels that each got.

#599 Sync Ionic and Jetty directories with Harmonic
  ionic/ros2_integration.md
  ionic/ros2_launch_gazebo.md
  jetty/Model_insertion_fuel.md
  jetty/install_ubuntu_src.md
  jetty/ros2_integration.md
  jetty/ros2_launch_gazebo.md
  jetty/ros2_overview.md
  jetty/ros2_spawn_model.md
  jetty/troubleshooting.md
  jetty/tutorials/gui/toolbars.png
Labels: 🏛️ ionic, 🪵 jetty

#581 Improve appended toctrees for children
  build_multiversion.py
Labels: 🎵 harmonic

#613 Update GUI_tutorial.md to correct jetty version
  jetty/GUI_tutorial.md
Labels: 🪵 jetty

#612 Update release notes with new features and enhancements
  jetty/release_notes.md
Labels: 🪵 jetty
