Repository gazebosim/docs, pull requests merged in 2025-01, with the labels that each got.

#554 🏁 Citadel EOL
  citadel/install.md
  index.yaml
  releases.md
  tools/branch_comparisons.md
Labels: 🏰 citadel

#559 Update ros2_launch_gazebo.md with generic scaffolding example and eliminate space ros inclusion
  harmonic/ros2_launch_gazebo.md
Labels: 🎵 harmonic

#560 Update ros2_launch_gazebo.md with remapping topic fix. Didn't have to…
  harmonic/ros2_launch_gazebo.md
Labels: 🎵 harmonic

#566 Add venv as a dependency since the following step needs it.
  harmonic/install_ubuntu_src.md
  ionic/install_ubuntu_src.md
  jetty/install_ubuntu_src.md
Labels: 🎵 harmonic, 🏛️ ionic

#567 Ubuntu from source: consolidate apt deps
  citadel/install_ubuntu_src.md
  dome/install_ubuntu_src.md
  edifice/install_ubuntu_src.md
  fortress/install_ubuntu_src.md
  garden/install_ubuntu_src.md
  harmonic/install_ubuntu_src.md
  ionic/install_ubuntu_src.md
  jetty/install_ubuntu_src.md
Labels: 🏰 citadel, 🔮 dome, 🏢 edifice, 🏯 fortress, 🌱 garden, 🎵 harmonic, 🏛️ ionic

#569 Remove currently only available in Rolling from Spawn a Gazebo model …
  harmonic/ros2_spawn_model.md
  ionic/ros2_spawn_model.md
Labels: 🎵 harmonic, 🏛️ ionic

#568 Ionic Ubuntu source install: rosdep instructions
  ionic/install_ubuntu_src.md
Labels: 🏛️ ionic
